@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;800&display=swap");

body {
  margin: 0;
  background: #fff;
  font-family: "Gemunu Libre", sans-serif;
}

#navbar {
  background: black;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.8s;
  z-index: 999;
}

#navbar a {
  float: left;
  display: block;
  color: #fff;

  text-decoration: none;
  padding: 5px 10px;
  margin: 1em;
  font-size: 20px;
}

.main {
  height: 100%;
}
.main .container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .container .lottie {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 30%;
}
.main .container .links .title h1 {
  font-size: 50px;
  margin: 0;
}
.main .container .links .button {
  width: 100%;
  background-color: black;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .container .links .blue {
  width: 100%;
  background-color: cornflowerblue;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .container .links .button a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 10px 15px;
}

@media screen and (max-width: 480px) {
  #navbar a {
    font-size: 10px;
    padding: 5px;
  }
  .main .container {
    margin-top: 100px;
  }
  .main .container .lottie {
    height: 80%;
    width: 80%;
  }
  .main .container .links {
    margin-top: 50px;
  }
  .main .container .links .title h1 {
    font-size: 30px;
  }
  .main .container .links .button a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 10px 15px;
  }
}
